<template>
    <form @submit.prevent="proceed" @keydown="depositForm.errors.clear($event.target.name)">
        <div class="form-group">
            <label for="">{{trans('deposit.amount')}}</label>
            <input class="form-control" name="amount" v-model.number="depositForm.amount">
            <span class="help has-error" v-if="depositForm.errors.has('amount')" v-text="depositForm.errors.get('amount')"></span>
        </div>
        <div class="form-group">
            <label for="">{{trans('deposit.currency')}}</label>
            <select v-model="depositForm.currency_id" name="currency_id" class="custom-select col-12">
                <option value="">{{trans('deposit.select_currency')}}</option>
                <option v-for="option in currencies" v-bind:value="option.id">
                    {{ option.name }}
                </option>
            </select>
            <span class="help has-error" v-if="depositForm.errors.has('currency_id')" v-text="depositForm.errors.get('currency_id')"></span>
        </div>
        <button type="submit" class="btn btn-info waves-effect waves-light">
            <span>{{trans('deposit.pay')}}</span>
        </button>
    </form>
</template>

<script>
	import switches from 'vue-switches'
	import vSelect from 'vue-multiselect'

	export default {
		components: {switches,vSelect},
		data() {
			return {
				depositForm: new Form({
					amount : 1,
					currency_id : ''
				}),
				currencies: []
			};
		},
		mounted() {
			this.fetchPreRequisites();
		},
		methods: {
			proceed(){
				this.storeDeposit();
			},
			fetchPreRequisites() {
				axios.get('/api/deposit/pre-requisite')
				.then(response => response.data)
			.then(response => {
					this.currencies = response.currencies;
			})
			.catch(error => {
					helper.showDataErrorMsg(error)
			});
			},
			storeDeposit(){
				this.depositForm.post('/api/deposit')
				.then(response => {
					toastr.success(response.message);
				this.depositForm.currency_id = '';
				this.depositForm.amount = 1;
				if(response.gateway.transaction.status_url) {
					window.location.href = response.gateway.transaction.status_url;
				}
				//this.$emit('completed')
			})
			.catch(error => {
					helper.showErrorMsg(error);
			});
			},
		}
	}
</script>