<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">{{trans('deposit.deposits')}}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">{{trans('general.home')}}</router-link></li>
                    <li class="breadcrumb-item active">{{trans('deposit.deposits')}}</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <transition name="fade">
                    <div class="card" v-if="showFilterPanel">
                        <div class="card-body">
                            <button class="btn btn-info btn-sm pull-right" v-if="showFilterPanel" @click="showFilterPanel = !showFilterPanel">{{trans('general.hide')}}</button>
                            <h4 class="card-title">{{trans('general.filter')}}</h4>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <switches v-model="filterDepositForm.status" theme="bootstrap" color="success"></switches> {{trans('deposit.show_paid')}}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <date-range-picker :start-date.sync="filterDepositForm.start_date" :end-date.sync="filterDepositForm.end_date" :label="trans('general.date_between')"></date-range-picker>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">{{trans('general.sort_by')}}</label>
                                        <select name="order" class="form-control" v-model="filterDepositForm.sort_by">
                                            <option value="title">{{trans('deposit.amount')}}</option>
                                            <option value="created_at">{{trans('deposit.currency')}}</option>
                                            <option value="status">{{trans('deposit.status')}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">{{trans('general.order')}}</label>
                                        <select name="order" class="form-control" v-model="filterDepositForm.order">
                                            <option value="asc">{{trans('general.ascending')}}</option>
                                            <option value="desc">{{trans('general.descending')}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-info btn-sm pull-right" v-if="!showFilterPanel" @click="showFilterPanel = !showFilterPanel"><i class="fa fa-filter"></i> {{trans('general.filter')}}</button>
                        <h4 class="card-title">{{trans('deposit.deposits_list')}}</h4>
                        <h6 class="card-subtitle" v-if="deposits">{{trans('general.total_result_found',{'count' : deposits.total})}}</h6>
                        <h6 class="card-subtitle" v-else>{{trans('general.no_result_found')}}</h6>
                        <div class="table-responsive">
                            <table class="table" v-if="deposits.total">
                                <thead>
                                <tr>
                                    <th>{{trans('deposit.id')}}</th>
                                    <th>{{trans('deposit.user_id')}}</th>
                                    <th>{{trans('deposit.user_email')}}</th>
                                    <th>{{trans('deposit.created_at')}}</th>
                                    <th>{{trans('deposit.amount')}}</th>
                                    <th>{{trans('deposit.currency')}}</th>
                                    <th>{{trans('deposit.status')}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="deposit in deposits.data">
                                    <td v-text="deposit.id"></td>
                                    <td v-text="deposit.user.id"></td>
                                    <td v-text="deposit.user.email"></td>
                                    <td>{{deposit.created_at | moment}}</td>
                                    <td v-text="deposit.amount"></td>
                                    <td v-text="deposit.currency.name"></td>
                                    <td v-html="getStatus(deposit)"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-record :page-length.sync="filterDepositForm.page_length" :records="deposits" @updateRecords="getDeposits"></pagination-record>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	import switches from 'vue-switches'
	import datepicker from 'vuejs-datepicker'
	import dateRangePicker from '../../components/date-range-picker'

	export default {
		components : { switches, datepicker, dateRangePicker },
		data() {
			return {
				deposits: {
					total: 0,
					data: []
				},
				filterDepositForm: {
				status: false,
					start_date: '',
					end_date: '',
					sort_by : 'created_at',
					order: 'desc',
					page_length: helper.getConfig('page_length')
			},
				showFilterPanel: false
			};
		},
		mounted(){
			if(!helper.hasPermission('access-deposits')){
				helper.notAccessibleMsg();
				this.$router.push('/home');
			}

			if(!helper.featureAvailable('deposits')){
				helper.featureNotAvailableMsg();
				this.$router.push('/home');
			}

			this.getDeposits();
		},
		methods: {
			getDeposits(page){
				if (typeof page === 'undefined') {
					page = 1;
				}
				let url = helper.getFilterURL(this.filterDepositForm);
				axios.get('/api/deposits?page=' + page + url)
				.then(response => response.data)
			.then(response => this.deposits = response)
			.catch(error => {
					helper.showDataErrorMsg(error);
			});
			},
			getStatus(deposit){
				return deposit.status ? ('<span class="label label-success">'+i18n.deposit.paid+'</span>') : ('<span class="label label-danger">'+i18n.deposit.unpaid+'</span>') ;
			}
		},
		filters: {
			moment(date) {
				return helper.formatDate(date);
			}
		},
		watch: {
			filterDepositForm: {
				handler(val){
					this.getDeposits();
				},
				deep: true
			}
		}
	}
</script>
