<template>
    <form @submit.prevent="proceed" @keydown="todoForm.errors.clear($event.target.name)">
        <div class="form-group">
            <label for="">{{trans('todo.title')}}</label>
            <input class="form-control" type="text" value="" v-model="todoForm.title" name="title" :placeholder="trans('todo.title')">
            <span class="help has-error" v-if="todoForm.errors.has('title')" v-text="todoForm.errors.get('title')"></span>
        </div>
        <div class="form-group">
            <label for="">{{trans('todo.date')}}</label>
            <datepicker v-model="todoForm.date" :bootstrapStyling="true" @selected="todoForm.errors.clear('date')" :placeholder="trans('todo.date')"></datepicker>
            <span class="help has-error" v-if="todoForm.errors.has('date')" v-text="todoForm.errors.get('date')"></span>
        </div>
        <div class="form-group">
            <label for="">{{trans('todo.description')}}</label>
            <autosize-textarea v-model="todoForm.description" rows="2" name="description" :placeholder="trans('todo.description')"></autosize-textarea>
            <span class="help has-error" v-if="todoForm.errors.has('description')" v-text="todoForm.errors.get('description')"></span>
        </div>
        <button type="submit" class="btn btn-info waves-effect waves-light">
            <span v-if="id">{{trans('general.update')}}</span>
            <span v-else>{{trans('general.save')}}</span>
        </button>
        <router-link to="/todo" class="btn btn-danger waves-effect waves-light" v-show="id">{{trans('general.cancel')}}</router-link>
    </form>
</template>


<script>
    import datepicker from 'vuejs-datepicker'
    import autosizeTextarea from '../../components/autosize-textarea'

    export default {
        components: {datepicker,autosizeTextarea},
        data() {
            return {
                todoForm: new Form({
                    title : '',
                    description : '',
                    date: ''
                })
            };
        },
        props: ['id'],
        mounted() {
            if(this.id)
                this.getTodo();
        },
        methods: {
            proceed(){
                if(this.id)
                    this.updateTodo();
                else
                    this.storeTodo();
            },
            storeTodo(){
                this.todoForm.date = moment(this.todoForm.date).format('YYYY-MM-DD');
                this.todoForm.post('/api/todo')
                    .then(response => {
                        toastr.success(response.message);
                        this.$emit('completed')
                    })
                    .catch(error => {
                        helper.showErrorMsg(error);
                    });
            },
            getTodo(){
                axios.get('/api/todo/'+this.id)
                    .then(response => response.data)
                    .then(response => {
                        this.todoForm.title = response.title;
                        this.todoForm.description = response.description;
                        this.todoForm.date = response.date;
                    })
                    .catch(error => {
                        helper.showDataErrorMsg(error);
                        this.$router.push('/todo');
                    });
            },
            updateTodo(){
                this.todoForm.date = moment(this.todoForm.date).format('YYYY-MM-DD');
                this.todoForm.patch('/api/todo/'+this.id)
                    .then(response => {
                        toastr.success(response.message);
                        this.$router.push('/todo');
                    })
                    .catch(error => {
                        helper.showErrorMsg(error);
                    });
            }
        }
    }
</script>
