<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">{{trans('deposit.make_deposit')}}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">{{trans('general.home')}}</router-link></li>
                    <li class="breadcrumb-item active">{{trans('deposit.make_deposit')}}</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-4 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{trans('deposit.make_new_deposit')}}</h4>
                        <form @submit.prevent="makeDeposit" @keydown="depositForm.errors.clear($event.target.name)">
                            <div class="form-group">
                                <label for="">{{trans('deposit.amount')}}</label>
                                <input class="form-control" type="number" name="amount" v-model.number="depositForm.amount">
                                <span class="help has-error" v-if="depositForm.errors.has('amount')" v-text="depositForm.errors.get('amount')"></span>
                            </div>
                            <div class="form-group">
                                <label for="">{{trans('deposit.currency')}}</label>
                                <select v-model="depositForm.currency" class="custom-select col-12">
                                    <option v-for="option in locales" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>

                            </div>
                            <button type="submit" class="btn btn-info waves-effect waves-light">
                                <span>{{trans('deposit.pay')}}</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8">
                <transition name="fade">
                    <div class="card" v-if="showFilterPanel">
                        <div class="card-body">
                            <button class="btn btn-info btn-sm pull-right" v-if="showFilterPanel" @click="showFilterPanel = !showFilterPanel">{{trans('general.hide')}}</button>
                            <h4 class="card-title">{{trans('general.filter')}}</h4>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">{{trans('deposit.keyword')}}</label>
                                        <input class="form-control" name="keyword" v-model="filterDepositForm.keyword">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <switches v-model="filterDepositForm.paid" theme="bootstrap" color="success"></switches> {{trans('rule.show_paid')}}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <date-range-picker :start-date.sync="filterDepositForm.start_date" :end-date.sync="filterDepositForm.end_date" :label="trans('general.date_between')"></date-range-picker>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">{{trans('general.sort_by')}}</label>
                                        <select name="order" class="form-control" v-model="filterDepositForm.sort_by">
                                            <option value="title">{{trans('deposit.amount')}}</option>
                                            <option value="created_at">{{trans('deposit.currency')}}</option>
                                            <option value="status">{{trans('deposit.paid')}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">{{trans('general.order')}}</label>
                                        <select name="order" class="form-control" v-model="filterDepositForm.order">
                                            <option value="asc">{{trans('general.ascending')}}</option>
                                            <option value="desc">{{trans('general.descending')}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-info btn-sm pull-right" v-if="!showFilterPanel" @click="showFilterPanel = !showFilterPanel"><i class="fa fa-filter"></i> {{trans('general.filter')}}</button>
                        <h4 class="card-title">{{trans('deposit.deposits_list')}}</h4>
                        <h6 class="card-subtitle" v-if="deposits">{{trans('general.total_result_found',{'count' : deposits.total})}}</h6>
                        <h6 class="card-subtitle" v-else>{{trans('general.no_result_found')}}</h6>
                        <div class="table-responsive">
                            <table class="table" v-if="deposits.total">
                                <thead>
                                <tr>
                                    <th>{{trans('deposit.id')}}</th>
                                    <th>{{trans('deposit.created_at')}}</th>
                                    <th>{{trans('deposit.amount')}}</th>
                                    <th>{{trans('deposit.currency')}}</th>
                                    <th>{{trans('deposit.paid')}}</th>
                                    <th class="table-option">{{trans('general.action')}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="deposit in deposits.data">
                                    <td v-text="deposit.id"></td>
                                    <td v-text="deposit.created_at"></td>
                                    <td v-text="deposit.amount"></td>
                                    <td v-text="deposit.currency"></td>
                                    <td v-html="getStatus(deposit)"></td>
                                    <td class="table-option">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm" v-tooltip="deposit.paid ? trans('deposit.paid') : trans('deposit.unpaid')" @click.prevent="toggleStatus(deposit)">
                                                <i :class="['fa', (deposit.status ?  'fa-times' : 'fa-check')]"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-record :page-length.sync="filterDepositForm.page_length" :records="rules" @updateRecords="getDeposits"></pagination-record>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

	export default {

		data() {
			return {
				depositForm: new Form({
					amount : 0,
					currency : ''
				}),
				currencies: ''
			};
		},
		mounted() {
			this.fetchPreRequisites();
		},
		methods: {
			proceed(){
				this.storeDeposit();
			},
			fetchPreRequisites() {
				axios.get('/api/deposit/pre-requisite')
				.then(response => response.data)
			.then(response => {
					this.currencies = response.currencies;
			})
			.catch(error => {
					helper.showDataErrorMsg(error)
			});
			},
			storeDeposit(){
				this.depositForm.post('/api/deposit')
				.then(response => {
					toastr.success(response.message);
				this.depositForm.currency = [];
				this.$emit('completed')
			})
			.catch(error => {
					helper.showErrorMsg(error);
			});
			},
		}
	}
</script>
