<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">{{trans('general.home')}}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">{{trans('general.home')}}</li>
                </ol>
            </div>
        </div>
        <div class="row" v-if="hasRole('admin')">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{trans('dashboard.period_registered_user',{period: trans('dashboard.total')})}}</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="fa fa-users fa-lg pull-right"></i> <span class="pull-left">{{users}}</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{trans('dashboard.period_registered_user',{period: trans('dashboard.today')})}}</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="fa fa-users fa-lg pull-right"></i> <span class="pull-left">{{today_registered_users}}</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{trans('dashboard.period_registered_user',{period: trans('dashboard.week')})}}</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="fa fa-users fa-lg pull-right"></i> <span class="pull-left">{{weekly_registered_users}}</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{trans('dashboard.period_registered_user',{period: trans('dashboard.month')})}}</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="fa fa-users fa-lg pull-right"></i> <span class="pull-left">{{monthly_registered_users}}</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{trans('project_log.project_lastlog')}}</h4>
                        <h6 class="card-subtitle" v-if="!project_logs.length">{{trans('general.no_result_found')}}</h6>
                        <div class="table-responsive" v-if="project_logs.length">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>{{trans('project_log.project_name')}}</th>
                                    <th>{{trans('project_log.referer')}}</th>
                                    <th>{{trans('project_log.is_bot')}}</th>
                                    <th>{{trans('project_log.is_moderator')}}</th>
                                    <th>{{trans('project_log.country')}}</th>
                                    <th>{{trans('project_log.ip_address')}}</th>
                                    <th>{{trans('project_log.keyword')}}</th>
                                    <th>{{trans('project_log.user_agent')}}</th>
                                    <th>{{trans('project_log.browser_locale')}}</th>
                                    <th class="table-option">{{trans('project_log.date_time')}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="project_log in project_logs">
                                    <td v-text="project_log.project.title"></td>
                                    <td v-text="project_log.referer"></td>

                                    <td v-if="project_log.is_bot">{{trans('project_log.yes')}}</td>
                                    <td v-else>{{trans('project_log.no')}}</td>

                                    <td v-if="project_log.is_moderator">{{trans('project_log.yes')}}</td>
                                    <td v-else>{{trans('project_log.no')}}</td>

                                    <td v-text="project_log.iso_country_code"></td>
                                    <td v-text="project_log.ip_address"></td>
                                    <td v-text="project_log.keyword"></td>
                                    <td v-text="project_log.user_agent"></td>
                                    <td v-text="project_log.browser_locale"></td>
                                    <td class="table-option">{{project_log.created_at | momentDateTime }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{trans('activity.activity_log')}}</h4>
                        <h6 class="card-subtitle" v-if="!activity_logs.length">{{trans('general.no_result_found')}}</h6>
                        <div class="table-responsive" v-if="activity_logs.length">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th v-if="hasRole('admin')">{{trans('user.user')}}</th>
                                        <th>{{trans('activity.activity')}}</th>
                                        <th class="table-option">{{trans('activity.date_time')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="activity_log in activity_logs">
                                        <td v-if="hasRole('admin')" v-text="activity_log.user.profile.first_name+' '+activity_log.user.profile.last_name"></td>
                                        <td>{{trans('activity.'+activity_log.activity,{activity: trans(activity_log.module+'.'+activity_log.module)})}}</td>
                                        <td class="table-option">{{activity_log.created_at | momentDateTime }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{trans('todo.todo')}}</h4>
                        <h6 class="card-subtitle" v-if="!todos.length">{{trans('general.no_result_found')}}</h6>
                        <div class="table-responsive" v-if="todos.length">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{trans('todo.title')}}</th>
                                        <th>{{trans('todo.status')}}</th>
                                        <th class="table-option">{{trans('todo.date')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="todo in todos">
                                        <td v-text="todo.title"></td>
                                        <td v-html="getStatus(todo)"></td>
                                        <td class="table-option">{{todo.date | moment}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        components: {},
        mounted(){
            axios.get('/api/dashboard')
                .then(response => response.data)
                .then(response => {
                    this.users = response.users;
                    this.today_registered_users = response.today_registered_users;
                    this.weekly_registered_users = response.weekly_registered_users;
                    this.monthly_registered_users = response.monthly_registered_users;
                    this.activity_logs = response.activity_logs;
			        this.project_logs = response.project_logs;
                    this.todos = response.todos;
                })
                .catch(error => {
                    helper.showDataErrorMsg(error);
                })
        },
        methods: {
            getStatus(todo){
                return todo.status ? ('<span class="label label-success">'+i18n.todo.complete+'</span>') : ('<span class="label label-danger">'+i18n.todo.incomplete+'</span>') ;
            },
            hasRole(role){
                return helper.hasRole(role);
            }
        },
        data() {
            return {
                users: 0,
                today_registered_users: 0,
                weekly_registered_users: 0,
                monthly_registered_users: 0,
                activity_logs: {},
				project_logs: {},
                todos: {}
            }
        },
        computed: {
        },
        filters: {
          momentDateTime(date) {
            return helper.formatDateTime(date);
          },
          moment(date) {
            return helper.formatDate(date);
          }
        },
    }
</script>
