<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">{{trans('rule.edit_rule')}}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">{{trans('general.home')}}</router-link></li>
                    <li class="breadcrumb-item active">{{trans('rule.edit_rule')}}</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{trans('rule.edit_rule')}}</h4>
                        <rule-form :id="id"></rule-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ruleForm from './form';


    export default {
        components : { ruleForm },
        data() {
            return {
                id:this.$route.params.id
            }
        },
        mounted(){
            if(!helper.hasPermission('access-rule')){
                helper.notAccessibleMsg();
                this.$router.push('/home');
            }

            if(!helper.featureAvailable('rule')){
                helper.featureNotAvailableMsg();
                this.$router.push('/home');
            }
        }
    }
</script>