<template>
    <form @submit.prevent="proceed" @keydown="ruleForm.errors.clear($event.target.name)">
        <div class="form-group">
            <label for="">{{trans('rule.title')}} <show-tip module="rule" tip="tip_title" type="field"></show-tip></label>
            <input class="form-control" type="text" value="" v-model="ruleForm.title" name="title" :placeholder="trans('rule.title')" :maxlength="30">
            <span class="help has-error" v-if="ruleForm.errors.has('title')" v-text="ruleForm.errors.get('title')"></span>
        </div>

        <div class="form-group">
            <label for="">{{trans('rule.description')}} <show-tip module="rule" tip="tip_description" type="field"></show-tip></label>
            <autosize-textarea v-model="ruleForm.description" rows="2" name="description" :placeholder="trans('rule.description')"></autosize-textarea>
            <span class="help has-error" v-if="ruleForm.errors.has('description')" v-text="ruleForm.errors.get('description')"></span>
        </div>

        <div class="form-group">
            <label for="">{{trans('rule.project')}} <show-tip module="rule" tip="tip_select_project" type="field"></show-tip></label>
            <v-select label="name" track-by="id" v-model="selected_projects" name="project_id" id="project_id" :options="projects" :placeholder="trans('rule.select_project')" @select="onProjectSelect" :multiple="true" :close-on-select="true" :clear-on-select="true" :hide-selected="false" @remove="onProjectRemove" :selected="selected_projects">
            </v-select>
            <span class="help has-error" v-if="ruleForm.errors.has('project_id')" v-text="ruleForm.errors.get('project_id')"></span>
        </div>

        <div class="form-group">
            <label for="">{{trans('rule.country')}} <show-tip module="rule" tip="tip_select_country" type="field"></show-tip></label>
            <v-select label="text" track-by="value" v-model="selected_countries" name="country_id" id="country_id" :options="countries" :placeholder="trans('rule.select_country')" @select="onCountrySelect" :multiple="true" :close-on-select="true" :clear-on-select="true" :hide-selected="false" @remove="onCountryRemove" :selected="selected_countries">
            </v-select>
            <span class="help has-error" v-if="ruleForm.errors.has('country_id')" v-text="ruleForm.errors.get('country_id')"></span>
        </div>

        <div class="form-group">
            <label for="">{{trans('rule.url_keyword')}} <show-tip module="rule" tip="tip_select_keyword" type="field"></show-tip></label>
            <v-select label="name" track-by="code" v-model="selected_keywords" name="keyword_name" id="keyword_name" :options="selected_keywords" :multiple="true" :placeholder="trans('rule.add_keyword')" :taggable="true" @tag="addTag">
            </v-select>
            <span class="help has-error" v-if="ruleForm.errors.has('keyword_name')" v-text="ruleForm.errors.get('keyword_name')"></span>
        </div>

        <button type="submit" class="btn btn-info waves-effect waves-light">
            <span v-if="id">{{trans('general.update')}}</span>
            <span v-else>{{trans('general.save')}}</span>
        </button>
        <router-link to="/rule" class="btn btn-danger waves-effect waves-light" v-show="id">{{trans('general.cancel')}}</router-link>
    </form>
</template>

<script>
    import autosizeTextarea from '../../components/autosize-textarea'
	import switches from 'vue-switches'
	import vSelect from 'vue-multiselect'

    export default {
        components: {autosizeTextarea,switches,vSelect},
        data() {
            return {
                ruleForm: new Form({
                    title : '',
                    description : '',
                    project_id: [],
					country_id: [],
					keyword_name: []
                }),
				projects: [],
				selected_projects: [],
				countries: [],
				selected_countries: [],
                selected_keywords: []
            };
        },
        props: ['id'],
        mounted() {
            if(this.id) {
				this.getRule();
            } else {
				this.fetchPreRequisites();
            }
        },
        methods: {
			addTag (newTag) {
				const tag = {
					name: newTag,
					code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
				}
				this.selected_keywords.push(tag);
				this.ruleForm.keyword_name.push(tag);
			},
            proceed(){
                if(this.id)
                    this.updateRule();
                else
                    this.storeRule();
            },
			fetchPreRequisites() {
				axios.get('/api/rule/pre-requisite')
				.then(response => response.data)
			    .then(response => {
				this.projects = response.projects;
				this.countries = response.countries;
			})
			.catch(error => {
					helper.showDataErrorMsg(error)
			});
			},
			onProjectSelect(selectedOption){
				this.ruleForm.errors.clear('project_id');
				this.ruleForm.project_id.push(selectedOption.id);
			},
			onProjectRemove(removedOption){
				this.ruleForm.project_id.splice(this.ruleForm.project_id.indexOf(removedOption.id), 1);
			},
			onCountrySelect(selectedOption){
				this.ruleForm.errors.clear('country_id');
				this.ruleForm.country_id.push(selectedOption.value);
			},
			onCountryRemove(removedOption){
				this.ruleForm.country_id.splice(this.ruleForm.country_id.indexOf(removedOption.value), 1);
			},
            storeRule(){
                this.ruleForm.post('/api/rule')
                    .then(response => {
                        toastr.success(response.message);
                        this.selected_projects = [];
                        this.ruleForm.project_id = [];
                        this.selected_countries = [];
                        this.ruleForm.country_id = [];
                        this.ruleForm.keyword_name = [];
                        this.selected_keywords = [];
                        this.$emit('completed')
                    })
                    .catch(error => {
                        helper.showErrorMsg(error);
                    });
            },
            getRule(){
				axios.get('/api/rule/'+this.id)
				.then(response => response.data)
			    .then(response => {
				this.ruleForm.title = response.rule.title;
				this.ruleForm.description = response.rule.description;
				this.countries = response.countries;
				this.projects = response.projects;

				response.rule.country_id.forEach(country_id => {
					var country = this.countries.filter(item => {
						return item.value === parseInt(country_id)
					});
				this.selected_countries.push(country[0]);
				this.ruleForm.country_id.push(country[0].value);
			    });

				response.rule.projects.forEach(project_item => {
					var project = this.projects.filter(item => {
						return item.id === parseInt(project_item.id)
					});
				this.selected_projects.push(project[0]);
				this.ruleForm.project_id.push(project[0].id);
			});

				response.rule.keyword_name.forEach(keyword_item => {
					this.selected_keywords.push(keyword_item);
				    this.ruleForm.keyword_name.push(keyword_item);
			});

			})
			.catch(error => {
					helper.showDataErrorMsg(error);
				this.$router.push('/rule');
			});
            },
            updateRule(){
                this.ruleForm.patch('/api/rule/'+this.id)
                    .then(response => {
                        toastr.success(response.message);
                        this.$router.push('/rule');
                    })
                    .catch(error => {
                        helper.showErrorMsg(error);
                    });
            }
        }
    }
</script>