<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">{{trans('rule.filtering_rules')}}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">{{trans('general.home')}}</router-link></li>
                    <li class="breadcrumb-item active">{{trans('rule.filtering_rules')}}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{trans('rule.add_new_rule')}}</h4>
                        <rule-form @completed="getRules"></rule-form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8">
                <transition name="fade">
                    <div class="card" v-if="showFilterPanel">
                        <div class="card-body">
                                <button class="btn btn-info btn-sm pull-right" v-if="showFilterPanel" @click="showFilterPanel = !showFilterPanel">{{trans('general.hide')}}</button>
                            <h4 class="card-title">{{trans('general.filter')}}</h4>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">{{trans('rule.keyword')}}</label>
                                        <input class="form-control" name="keyword" v-model="filterRuleForm.keyword">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <switches v-model="filterRuleForm.status" theme="bootstrap" color="success"></switches> {{trans('rule.show_enabled')}}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <date-range-picker :start-date.sync="filterRuleForm.start_date" :end-date.sync="filterRuleForm.end_date" :label="trans('general.date_between')"></date-range-picker>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">{{trans('general.sort_by')}}</label>
                                        <select name="order" class="form-control" v-model="filterRuleForm.sort_by">
                                            <option value="title">{{trans('rule.title')}}</option>
                                            <option value="created_at">{{trans('rule.project')}}</option>
                                            <option value="status">{{trans('rule.status')}}</option>
                                            <option value="description">{{trans('rule.description')}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">{{trans('general.order')}}</label>
                                        <select name="order" class="form-control" v-model="filterRuleForm.order">
                                            <option value="asc">{{trans('general.ascending')}}</option>
                                            <option value="desc">{{trans('general.descending')}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-info btn-sm pull-right" v-if="!showFilterPanel" @click="showFilterPanel = !showFilterPanel"><i class="fa fa-filter"></i> {{trans('general.filter')}}</button>
                        <h4 class="card-title">{{trans('rule.rules_list')}}</h4>
                        <h6 class="card-subtitle" v-if="rules">{{trans('general.total_result_found',{'count' : rules.total})}}</h6>
                        <h6 class="card-subtitle" v-else>{{trans('general.no_result_found')}}</h6>
                        <div class="table-responsive">
                            <table class="table" v-if="rules.total">
                                <thead>
                                    <tr>
                                        <th>{{trans('rule.title')}}</th>
                                        <th>{{trans('rule.project')}}</th>
                                        <th>{{trans('rule.status')}}</th>
                                        <th>{{trans('rule.description')}}</th>
                                        <th class="table-option">{{trans('general.action')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="rule in rules.data">
                                        <td v-text="rule.title"></td>
                                        <td>
                                            <div v-for="(project, index) in rule.projects">{{ project.title }}</div>
                                        </td>
                                        <td v-html="getStatus(rule)"></td>
                                        <td v-text="rule.description"></td>
                                        <td class="table-option">
                                            <div class="btn-group">
                                                <button class="btn btn-secondary btn-sm" v-tooltip="rule.status ? trans('rule.disable') : trans('rule.enable')" @click.prevent="toggleStatus(rule)">
                                                    <i :class="['fa', (rule.status ?  'fa-times' : 'fa-check')]"></i>
                                                </button>
                                                <button class="btn btn-info btn-sm" v-tooltip="trans('rule.edit_rule')" @click.prevent="editRule(rule)"><i class="fa fa-pencil"></i></button>
                                                <button class="btn btn-danger btn-sm" :key="rule.id" v-confirm="{ok: confirmDelete(rule)}" v-tooltip="trans('rule.delete_rule')"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-record :page-length.sync="filterRuleForm.page_length" :records="rules" @updateRecords="getRules"></pagination-record>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ruleForm from './form'
    import switches from 'vue-switches'
    import datepicker from 'vuejs-datepicker'
    import dateRangePicker from '../../components/date-range-picker'

    export default {
        components : { ruleForm,switches,datepicker,dateRangePicker },
        data() {
            return {
                rules: {
                    total: 0,
                    data: []
                },
                filterRuleForm: {
                    keyword: '',
                    status: false,
                    start_date: '',
                    end_date: '',
                    sort_by : 'created_at',
                    order: 'desc',
                    page_length: helper.getConfig('page_length')
                },
                showFilterPanel: false
            };
        },
        mounted(){
            if(!helper.hasPermission('access-rule')){
                helper.notAccessibleMsg();
                this.$router.push('/home');
            }

            if(!helper.featureAvailable('rule')){
                helper.featureNotAvailableMsg();
                this.$router.push('/home');
            }

            this.getRules();
        },
        methods: {
            hasPermission(permission){
                return helper.hasPermission(permission);
            },
            getRules(page){
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let url = helper.getFilterURL(this.filterRuleForm);
                axios.get('/api/rule?page=' + page + url)
                    .then(response => response.data)
                    .then(response => this.rules = response)
                    .catch(error => {
                        helper.showDataErrorMsg(error);
                    });
            },
            editRule(rule){
                this.$router.push('/rule/'+rule.id+'/edit');
            },
            confirmDelete(rule){
                return dialog => this.deleteRule(rule);
            },
            deleteRule(rule){
                axios.delete('/api/rule/'+rule.id)
                    .then(response => response.data)
                    .then(response => {
                        toastr.success(response.message);
                        this.getRules();
                    }).catch(error => {
                        helper.showDataErrorMsg(error);
                    });
            },
            getStatus(rule){
                return rule.status ? ('<span class="label label-success">'+i18n.rule.enable+'</span>') : ('<span class="label label-danger">'+i18n.rule.disable+'</span>') ;
            },
            toggleStatus(rule){
                axios.post('/api/rule/'+rule.id+'/status')
                    .then(response => response.data)
                    .then(response => {
                        this.getRules();
                        toastr.success(response.message);
                    })
                    .catch(error => {
                        helper.showDataErrorMsg();
                    });
            }
        },
        filters: {
        },
        watch: {
            filterRuleForm: {
                handler(val){
                    this.getRules();
                },
                deep: true
            }
        }
    }
</script>