<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">{{trans('project_log.project_log')}}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">{{trans('general.home')}}</router-link></li>
                    <li class="breadcrumb-item active">{{trans('project_log.project_log')}}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <transition name="fade">
                    <div class="card" v-if="showFilterPanel">
                        <div class="card-body">
                            <button class="btn btn-info btn-sm pull-right" v-if="showFilterPanel" @click="showFilterPanel = !showFilterPanel">{{trans('general.hide')}}</button>
                            <h4 class="card-title">{{trans('general.filter')}}</h4>
                            <div class="row">
                                <div class="col-6 col-md-6">
                                    <div class="form-group" v-show="projects">
                                        <label for="">{{trans('project.project')}}</label>
                                        <select v-model="filterProjectLogForm.project_id" class="custom-select col-12">
                                            <option value="">{{trans('general.select_one')}}</option>
                                            <option v-for="project in projects" v-bind:value="project.id">
                                                {{ project.title+' ('+project.domain+')' }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6">
                                    <div class="form-group">
                                        <date-range-picker :start-date.sync="filterProjectLogForm.created_at_start_date" :end-date.sync="filterProjectLogForm.created_at_end_date"></date-range-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-info btn-sm pull-right" v-if="!showFilterPanel" @click="showFilterPanel = !showFilterPanel"><i class="fa fa-filter"></i> {{trans('general.filter')}}</button>
                        <h4 class="card-title">{{trans('project_log.project_log')}}</h4>
                        <h6 class="card-subtitle" v-if="project_logs">{{trans('general.total_result_found',{'count' : project_logs.total})}}</h6>
                        <h6 class="card-subtitle" v-else>{{trans('general.no_result_found')}}</h6>
                        <div class="table-responsive">
                            <table class="table" v-if="project_logs.total">
                                <thead>
                                <tr>
                                    <th>{{trans('project_log.project_name')}}</th>
                                    <th>{{trans('project_log.referer')}}</th>
                                    <th>{{trans('project_log.is_bot')}}</th>
                                    <th>{{trans('project_log.is_moderator')}}</th>
                                    <th>{{trans('project_log.country')}}</th>
                                    <th>{{trans('project_log.ip_address')}}</th>
                                    <th>{{trans('project_log.keyword')}}</th>
                                    <th>{{trans('project_log.user_agent')}}</th>
                                    <th>{{trans('project_log.browser_locale')}}</th>
                                    <th>{{trans('project_log.pageon')}}</th>
                                    <th>{{trans('project_log.city')}}</th>
                                    <th>{{trans('project_log.state_name')}}</th>
                                    <th>{{trans('project_log.timezone_browser')}}</th>
                                    <th>{{trans('project_log.timezone_ip')}}</th>
                                    <th>{{trans('project_log.continent')}}</th>
                                    <th>{{trans('project_log.currency')}}</th>
                                    <th>{{trans('project_log.browserName')}}</th>
                                    <th>{{trans('project_log.browserEngine')}}</th>
                                    <th>{{trans('project_log.browserOnline')}}</th>
                                    <th>{{trans('project_log.timeOpened')}}</th>
                                    <th>{{trans('project_log.browserPlatform')}}</th>
                                    <th>{{trans('project_log.browserVersion1a')}}</th>
                                    <th>{{trans('project_log.javaEnabled')}}</th>
                                    <th>{{trans('project_log.dataCookiesEnabled')}}</th>
                                    <th>{{trans('project_log.scrPixelDepth')}}</th>
                                    <th>{{trans('project_log.sizeAvailH')}}</th>
                                    <th>{{trans('project_log.sizeAvailW')}}</th>
                                    <th>{{trans('project_log.sizeInW')}}</th>
                                    <th>{{trans('project_log.sizeInH')}}</th>
                                    <th>{{trans('project_log.sizeScreenH')}}</th>
                                    <th>{{trans('project_log.sizeScreenW')}}</th>
                                    <th>{{trans('project_log.scrColorDepth')}}</th>
                                    <th>{{trans('project_log.previousSites')}}</th>
                                    <th>{{trans('project_log.date_time')}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="project_log in project_logs.data">
                                    <td v-text="project_log.project.title"></td>
                                    <td v-text="project_log.referer"></td>

                                    <td v-if="project_log.is_bot">{{trans('project_log.yes')}}</td>
                                    <td v-else>{{trans('project_log.no')}}</td>

                                    <td v-if="project_log.is_moderator">{{trans('project_log.yes')}}</td>
                                    <td v-else>{{trans('project_log.no')}}</td>

                                    <td v-text="project_log.iso_country_code"></td>
                                    <td v-text="project_log.ip_address"></td>
                                    <td v-text="project_log.keyword"></td>
                                    <td v-text="project_log.user_agent"></td>
                                    <td v-text="project_log.browser_locale"></td>
                                    <td v-text="project_log.pageon"></td>
                                    <td v-text="project_log.city"></td>
                                    <td v-text="project_log.state_name"></td>
                                    <td v-text="project_log.timezone_browser"></td>
                                    <td v-text="project_log.timezone_ip"></td>
                                    <td v-text="project_log.continent"></td>
                                    <td v-text="project_log.currency"></td>
                                    <td v-text="project_log.browserName"></td>
                                    <td v-text="project_log.browserEngine"></td>

                                    <td v-if="project_log.browserOnline">{{trans('project_log.yes')}}</td>
                                    <td v-else>{{trans('project_log.no')}}</td>

                                    <td v-text="project_log.timeOpened"></td>
                                    <td v-text="project_log.browserPlatform"></td>
                                    <td v-text="project_log.browserVersion1a"></td>

                                    <td v-if="project_log.javaEnabled">{{trans('project_log.yes')}}</td>
                                    <td v-else>{{trans('project_log.no')}}</td>

                                    <td v-if="project_log.dataCookiesEnabled">{{trans('project_log.yes')}}</td>
                                    <td v-else>{{trans('project_log.no')}}</td>

                                    <td v-text="project_log.scrPixelDepth"></td>
                                    <td v-text="project_log.sizeAvailH"></td>
                                    <td v-text="project_log.sizeAvailW"></td>
                                    <td v-text="project_log.sizeInW"></td>
                                    <td v-text="project_log.sizeInH"></td>
                                    <td v-text="project_log.sizeScreenH"></td>
                                    <td v-text="project_log.sizeScreenW"></td>
                                    <td v-text="project_log.scrColorDepth"></td>
                                    <td v-text="project_log.previousSites"></td>
                                    <td>{{project_log.created_at | moment }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-record :page-length.sync="filterProjectLogForm.page_length" :records="project_logs" @updateRecords="getProjectLogs"></pagination-record>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
	import dateRangePicker from '../../components/date-range-picker'

	export default {
		components: {dateRangePicker},
		data(){
			return {
				project_logs: {
					total: 0,
					data: []
				},
				filterProjectLogForm: {
					page_length: helper.getConfig('page_length'),
					user_id: '',
					created_at_start_date: '',
					created_at_end_date: '',
					sort_by: 'created_at',
					order: 'desc'
				},
				projects: [],
				showFilterPanel: false
			};
		},
		mounted(){
			if(!helper.featureAvailable('project_log')){
				helper.featureNotAvailableMsg();
				this.$router.push('/home');
			}
			if(!helper.hasPermission('project-log')){
				helper.notAccessibleMsg();
				this.$router.push('/home');
			}
			this.getProjectLogs();
		},
		methods: {
			getProjectLogs(page){
				if (typeof page === 'undefined') {
					page = 1;
				}
				let url = helper.getFilterURL(this.filterProjectLogForm);
				axios.get('/api/project-log?page=' + page + url)
				.then(response => response.data)
			.then(response => {
				this.projects = response.projects;
				this.project_logs = response.project_logs;
			})
			.catch(error => {
					helper.showDataErrorMsg(error);
			});
			}
		},
		filters: {
			moment(date) {
				return helper.formatDateTime(date);
			}
		},
		watch: {
			filterProjectLogForm: {
				handler(val){
					this.getProjectLogs();
				},
				deep: true
			}
		}
	}
</script>
