<template>
    <form @submit.prevent="proceed" @keydown="IndividualRuleForm.errors.clear($event.target.name)">
        <div class="form-group">
            <label for="">{{trans('individual_rule.title')}} <show-tip module="rule" tip="tip_title" type="field"></show-tip></label>
            <input class="form-control" type="text" value="" v-model="IndividualRuleForm.title" name="title" :placeholder="trans('individual_rule.title')" :maxlength="30">
            <span class="help has-error" v-if="IndividualRuleForm.errors.has('title')" v-text="IndividualRuleForm.errors.get('title')"></span>
        </div>

        <div class="form-group">
            <label for="">{{trans('individual_rule.description')}} <show-tip module="rule" tip="tip_description" type="field"></show-tip></label>
            <autosize-textarea v-model="IndividualRuleForm.description" rows="2" name="description" :placeholder="trans('individual_rule.description')"></autosize-textarea>
            <span class="help has-error" v-if="IndividualRuleForm.errors.has('description')" v-text="IndividualRuleForm.errors.get('description')"></span>
        </div>

        <div class="form-group">
            <label for="">{{trans('individual_rule.user')}} <show-tip module="rule" tip="tip_select_user" type="field"></show-tip></label>
            <v-select label="name" track-by="id" v-model="selected_users" name="user_id" id="user_id" :options="users" :placeholder="trans('individual_rule.select_user')" @select="onUserSelect" :multiple="true" :close-on-select="true" :clear-on-select="true" :hide-selected="false" @remove="onUserRemove" :selected="selected_users">
            </v-select>
            <span class="help has-error" v-if="IndividualRuleForm.errors.has('user_id')" v-text="IndividualRuleForm.errors.get('user_id')"></span>
        </div>

        <div class="form-group">
            <label for="">{{trans('individual_rule.country')}} <show-tip module="rule" tip="tip_select_country" type="field"></show-tip></label>
            <v-select label="text" track-by="value" v-model="selected_countries" name="country_id" id="country_id" :options="countries" :placeholder="trans('individual_rule.select_country')" @select="onCountrySelect" :multiple="true" :close-on-select="true" :clear-on-select="true" :hide-selected="false" @remove="onCountryRemove" :selected="selected_countries">
            </v-select>
            <span class="help has-error" v-if="IndividualRuleForm.errors.has('country_id')" v-text="IndividualRuleForm.errors.get('country_id')"></span>
        </div>

        <div class="form-group">
            <label for="">{{trans('individual_rule.url_keyword')}} <show-tip module="rule" tip="tip_select_keyword" type="field"></show-tip></label>
            <v-select label="name" track-by="code" v-model="selected_keywords" name="keyword_name" id="keyword_name" :options="selected_keywords" :multiple="true" :placeholder="trans('individual_rule.add_keyword')" :taggable="true" @tag="addTag">
            </v-select>
            <span class="help has-error" v-if="IndividualRuleForm.errors.has('keyword_name')" v-text="IndividualRuleForm.errors.get('keyword_name')"></span>
        </div>

        <button type="submit" class="btn btn-info waves-effect waves-light">
            <span v-if="id">{{trans('general.update')}}</span>
            <span v-else>{{trans('general.save')}}</span>
        </button>
        <router-link to="/individual-rule" class="btn btn-danger waves-effect waves-light" v-show="id">{{trans('general.cancel')}}</router-link>
    </form>
</template>

<script>
    import autosizeTextarea from '../../components/autosize-textarea'
	import switches from 'vue-switches'
	import vSelect from 'vue-multiselect'

    export default {
        components: {autosizeTextarea,switches,vSelect},
        data() {
            return {
				IndividualRuleForm: new Form({
                    title : '',
                    description : '',
                    user_id: [],
					country_id: [],
					keyword_name: []
                }),
				users: [],
				selected_users: [],
				countries: [],
				selected_countries: [],
                selected_keywords: []
            };
        },
        props: ['id'],
        mounted() {
            if(this.id) {
				this.getRule();
            } else {
				this.fetchPreRequisites();
            }
        },
        methods: {
			addTag (newTag) {
				const tag = {
					name: newTag,
					code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
				}
				this.selected_keywords.push(tag);
				this.IndividualRuleForm.keyword_name.push(tag);
			},
            proceed(){
                if(this.id)
                    this.updateRule();
                else
                    this.storeRule();
            },
			fetchPreRequisites() {
				axios.get('/api/individual-rule/pre-requisite')
				.then(response => response.data)
			    .then(response => {
				this.users = response.users;
				this.countries = response.countries;
			})
			.catch(error => {
					helper.showDataErrorMsg(error)
			});
			},
			onUserSelect(selectedOption){
				this.IndividualRuleForm.errors.clear('user_id');
				this.IndividualRuleForm.user_id.push(selectedOption.id);
			},
			onUserRemove(removedOption){
				this.IndividualRuleForm.user_id.splice(this.IndividualRuleForm.user_id.indexOf(removedOption.id), 1);
			},
			onCountrySelect(selectedOption){
				this.IndividualRuleForm.errors.clear('country_id');
				this.IndividualRuleForm.country_id.push(selectedOption.value);
			},
			onCountryRemove(removedOption){
				this.IndividualRuleForm.country_id.splice(this.IndividualRuleForm.country_id.indexOf(removedOption.value), 1);
			},
            storeRule(){
                this.IndividualRuleForm.post('/api/individual-rule')
                    .then(response => {
                        toastr.success(response.message);
                        this.selected_users = [];
                        this.IndividualRuleForm.user_id = [];
                        this.selected_countries = [];
                        this.IndividualRuleForm.country_id = [];
                        this.IndividualRuleForm.keyword_name = [];
                        this.selected_keywords = [];
                        this.$emit('completed')
                    })
                    .catch(error => {
                        helper.showErrorMsg(error);
                    });
            },
            getRule(){
				axios.get('/api/individual-rule/'+this.id)
				.then(response => response.data)
			    .then(response => {
				this.IndividualRuleForm.title = response.rule.title;
				this.IndividualRuleForm.description = response.rule.description;
				this.countries = response.countries;
				this.users = response.users;

				response.rule.country_id.forEach(country_id => {
					var country = this.countries.filter(item => {
						return item.value === parseInt(country_id)
					});
				this.selected_countries.push(country[0]);
				this.IndividualRuleForm.country_id.push(country[0].value);
			    });

				response.rule.users.forEach(user_item => {
					var user = this.users.filter(item => {
						return item.id === parseInt(user_item.id)
					});
				this.selected_users.push(user[0]);
				this.IndividualRuleForm.user_id.push(user[0].id);
			});

				response.rule.keyword_name.forEach(keyword_item => {
					this.selected_keywords.push(keyword_item);
				    this.IndividualRuleForm.keyword_name.push(keyword_item);
			});

			})
			.catch(error => {
					helper.showDataErrorMsg(error);
				this.$router.push('/individual-rule');
			});
            },
            updateRule(){
                this.IndividualRuleForm.patch('/api/individual-rule/'+this.id)
                    .then(response => {
                        toastr.success(response.message);
                        this.$router.push('/individual-rule');
                    })
                    .catch(error => {
                        helper.showErrorMsg(error);
                    });
            }
        }
    }
</script>