<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">{{trans('configuration.configuration')}}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">{{trans('general.home')}}</router-link></li>
                    <li class="breadcrumb-item"><router-link to="/configuration/basic">{{trans('configuration.configuration')}}</router-link></li>
                    <li class="breadcrumb-item active">{{trans('ip_filter.ip_filter')}}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <configuration-sidebar menu="ip-filter"></configuration-sidebar>
                            <div class="col-10 col-lg-10 col-md-10">
                                <show-tip module="ip_filter" tip="tip_ip_filter"></show-tip>
                                <div class="row">
                                    <div class="col-12 col-sm-4 col-md-4">
                                        <h4 class="card-title">{{trans('ip_filter.add_new_ip_filter')}}</h4>
                                        <ip-filter-form @completed="getIpFilters"></ip-filter-form>

                                    </div>
                                    <div class="col-12 col-sm-8 col-md-8">
                                        <h4 class="card-title">{{trans('ip_filter.ip_filter_list')}}</h4>
                                        <h6 class="card-subtitle" v-if="ip_filters">{{trans('general.total_result_found',{'count' : ip_filters.total})}}</h6>
                                        <h6 class="card-subtitle" v-else>{{trans('general.no_result_found')}}</h6>
                                        <div class="table-responsive">
                                            <table class="table" v-if="ip_filters.total">
                                                <thead>
                                                    <tr>
                                                        <th>{{trans('ip_filter.start_ip')}}</th>
                                                        <th>{{trans('ip_filter.end_ip')}}</th>
                                                        <th>{{trans('ip_filter.description')}}</th>
                                                        <th class="table-option">{{trans('general.action')}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="ip_filter in ip_filters.data">
                                                        <td v-text="ip_filter.start_ip"></td>
                                                        <td v-text="ip_filter.end_ip"></td>
                                                        <td v-text="ip_filter.description"></td>
                                                        <td class="table-option">
                                                            <div class="btn-group">
                                                                <button class="btn btn-info btn-sm" v-tooltip="trans('ip_filter.edit_ip_filter')" @click.prevent="editIpFilter(ip_filter)"><i class="fa fa-pencil"></i></button>
                                                                <button class="btn btn-danger btn-sm" :key="ip_filter.id" v-confirm="{ok: confirmDelete(ip_filter)}" v-tooltip="trans('ip_filter.delete_ip_filter')"><i class="fa fa-trash"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <pagination-record :page-length.sync="filterIpFilterForm.page_length" :records="ip_filters" @updateRecords="getIpFilters" @change.native="getIpFilters"></pagination-record>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import configurationSidebar from '../system-config-sidebar'
    import ipFilterForm from './form'

    export default {
        components : { configurationSidebar,ipFilterForm },
        data() {
            return {
                ip_filters: {
                    total: 0,
                    data: []
                },
                filterIpFilterForm: {
                    page_length: helper.getConfig('page_length')
                }
            };
        },
        mounted(){
            if(!helper.hasPermission('access-configuration')){
                helper.notAccessibleMsg();
                this.$router.push('/home');
            }

            if(!helper.featureAvailable('ip_filter')){
                helper.featureNotAvailableMsg();
                this.$router.push('/home');
            }

            this.getIpFilters();
        },
        methods: {
            getIpFilters(page){
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let url = helper.getFilterURL(this.filterIpFilterForm);
                axios.get('/api/ip-filter?page=' + page + url)
                    .then(response => response.data)
                    .then(response => this.ip_filters = response)
                    .catch(error => {
                        helper.showDataErrorMsg(error);
                    });
            },
            editIpFilter(ip_filter){
                this.$router.push('/configuration/ip-filter/'+ip_filter.id+'/edit');
            },
            confirmDelete(ip_filter){
                return dialog => this.deleteIpFilter(ip_filter);
            },
            deleteIpFilter(ip_filter){
                axios.delete('/api/ip-filter/'+ip_filter.id)
                    .then(response => response.data)
                    .then(response => {
                        toastr.success(response.message);
                        this.getIpFilters();
                    }).catch(error => {
                        helper.showDataErrorMsg(error);
                    });
            }
        }
    }
</script>
