<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">{{trans('project.edit_project')}}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">{{trans('general.home')}}</router-link></li>
                    <li class="breadcrumb-item active">{{trans('project.edit_project')}}</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{trans('project.edit_project')}}</h4>
                        <div>
                            <p class="alert alert-primary">
                                <i class="fa fa-exclamation-triangle"></i>
                                {{trans('project.code_for_insert')}}
                                <br /><span class="jscode" v-text="jscode"></span>
                            </p>
                        </div>
                        <project-form :id="id"></project-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import projectForm from './form';

    export default {
        components : { projectForm },
        data() {
            return {
                id:this.$route.params.id,
                jscode: "<script type='text/javascript' src='//js.traffilect.com/init'><\/script>"
            }
        },
        mounted(){
            if(!helper.hasPermission('access-project')){
                helper.notAccessibleMsg();
                this.$router.push('/home');
            }

            if(!helper.featureAvailable('project')){
                helper.featureNotAvailableMsg();
                this.$router.push('/home');
            }
        }
    }
</script>
