<template>
    <form @submit.prevent="proceed" @keydown="projectForm.errors.clear($event.target.name)">
        <div class="form-group">
            <label for="">{{trans('project.title')}}</label>
            <input class="form-control" type="text" value="" v-model="projectForm.title" name="title" :placeholder="trans('project.title')" :maxlength="30">
            <span class="help has-error" v-if="projectForm.errors.has('title')" v-text="projectForm.errors.get('title')"></span>
        </div>

        <div class="form-group">
            <label for="">{{trans('project.domain')}}</label>
            <input class="form-control" type="text" value="" v-model="projectForm.domain" name="domain" :placeholder="trans('project.domain')" :maxlength="100">
            <span class="help has-error" v-if="projectForm.errors.has('domain')" v-text="projectForm.errors.get('domain')"></span>
        </div>
        <div class="form-group">
            <label for="">{{trans('project.description')}}</label>
            <autosize-textarea v-model="projectForm.description" rows="2" name="description" :placeholder="trans('project.description')"></autosize-textarea>
            <span class="help has-error" v-if="projectForm.errors.has('description')" v-text="projectForm.errors.get('description')"></span>
        </div>

        <div class="form-group">
            <label for="">{{trans('project.enable_destinations')}} <show-tip module="project" tip="tip_enable_destinations" type="field"></show-tip></label>
            <div>
                <switches class="" v-model="projectForm.destinations" theme="bootstrap" color="success"></switches>
            </div>
        </div>

        <div v-if="projectForm.destinations">
                    <div class="form-group">
                        <label for="">{{trans('project.bad_destination')}} <show-tip module="project" tip="tip_bad_destination" type="field"></show-tip></label>
                        <input class="form-control" value="" v-model="projectForm.bad_destination" name="bad_destination" :placeholder="trans('project.enter_bad_destination_url')">
                        <span class="help has-error" v-if="projectForm.errors.has('bad_destination')" v-text="projectForm.errors.get('bad_destination')"></span>
                    </div>

                    <div class="form-group">
                        <label for="">{{trans('project.good_destination')}} <show-tip module="project" tip="tip_good_destination" type="field"></show-tip></label>
                        <input class="form-control" value="" v-model="projectForm.good_destination" name="good_destination" :placeholder="trans('project.enter_good_destination_url')">
                        <span class="help has-error" v-if="projectForm.errors.has('good_destination')" v-text="projectForm.errors.get('good_destination')"></span>
                    </div>
        </div>

        <div class="form-group" v-if="individual_rules.length > 0">
            <label for="">{{trans('project.individual_rule')}}</label>
            <select v-model="projectForm.individual_rule_id" name="individual_rule_id" class="custom-select col-12">
                <option value="">{{trans('project.select_individual_rule')}}</option>
                <option v-for="option in individual_rules" v-bind:value="option.id">
                    ID {{ option.id }} ({{ option.name }})
                </option>
            </select>
            <span class="help has-error" v-if="projectForm.errors.has('individual_rule_id')" v-text="projectForm.errors.get('individual_rule_id')"></span>
        </div>

        <button type="submit" class="btn btn-info waves-effect waves-light">
            <span v-if="id">{{trans('general.update')}}</span>
            <span v-else>{{trans('general.save')}}</span>
        </button>
        <router-link to="/project" class="btn btn-danger waves-effect waves-light" v-show="id">{{trans('general.cancel')}}</router-link>
    </form>
</template>

<script>
    import autosizeTextarea from '../../components/autosize-textarea'
	import switches from 'vue-switches'

    export default {
        components: {autosizeTextarea,switches},
        data() {
            return {
                projectForm: new Form({
                    title : '',
                    description : '',
                    domain: '',
					block_robots: 0,
					block_moderators: 0,
                    destinations: 0,
					bad_destination: '',
					good_destination: '',
                    individual_rule_id: ''
                }),
                individual_rules: []
            };
        },
        props: ['id'],
        mounted() {
            if(this.id) {
				this.getProject();
			} else {
				this.fetchPreRequisites();
			}
        },
        methods: {
            proceed(){
                if(this.id)
                    this.updateProject();
                else
                    this.storeProject();
            },
			fetchPreRequisites() {
				axios.get('/api/project/pre-requisite')
				.then(response => response.data)
			.then(response => {
				console.log(response);
					this.individual_rules = response.individual_rules;
			})
			.catch(error => {
					helper.showDataErrorMsg(error)
			});
			},
            storeProject(){
                //this.projectForm.date = moment(this.projectForm.date).format('YYYY-MM-DD');
				this.projectForm.block_robots = (this.projectForm.block_robots) ? 1 : 0;
				this.projectForm.block_moderators = (this.projectForm.block_moderators) ? 1 : 0;
				this.projectForm.destinations = (this.projectForm.destinations) ? 1 : 0;
                this.projectForm.post('/api/project')
                    .then(response => {
                        toastr.success(response.message);
                        this.$emit('completed')
                    })
                    .catch(error => {
                        helper.showErrorMsg(error);
                    });
            },
            getProject(){
                axios.get('/api/project/'+this.id)
                    .then(response => response.data)
                    .then(response => {
                        this.projectForm.title = response.project.title;
                        this.projectForm.description = response.project.description;
                        this.projectForm.domain = response.project.domain;
                        this.projectForm.block_moderators = response.project.block_moderators;
                        this.projectForm.block_robots = response.project.block_robots;
				        this.projectForm.destinations = response.project.destinations;
                        this.projectForm.bad_destination = response.project.bad_destination;
                        this.projectForm.good_destination = response.project.good_destination;
                        this.individual_rules = response.individual_rules;
                        if(response.project.individual_rule) {
							this.projectForm.individual_rule_id = response.project.individual_rule.id;
                        }
                    })
                    .catch(error => {
                        helper.showDataErrorMsg(error);
                        this.$router.push('/project');
                    });
            },
            updateProject(){
                //this.projectForm.date = moment(this.projectForm.date).format('YYYY-MM-DD');
				this.projectForm.block_robots = (this.projectForm.block_robots) ? 1 : 0;
				this.projectForm.block_moderators = (this.projectForm.block_moderators) ? 1 : 0;
				this.projectForm.destinations = (this.projectForm.destinations) ? 1 : 0;
                this.projectForm.patch('/api/project/'+this.id)
                    .then(response => {
                        toastr.success(response.message);
                        this.$router.push('/project');
                    })
                    .catch(error => {
                        helper.showErrorMsg(error);
                    });
            }
        }
    }
</script>