<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">{{trans('project.project')}}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">{{trans('general.home')}}</router-link></li>
                    <li class="breadcrumb-item active">{{trans('project.project')}}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{trans('project.add_new_project')}}</h4>
                        <project-form @completed="getProjects"></project-form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8">
                <transition name="fade">
                    <div class="card" v-if="showFilterPanel">
                        <div class="card-body">
                                <button class="btn btn-info btn-sm pull-right" v-if="showFilterPanel" @click="showFilterPanel = !showFilterPanel">{{trans('general.hide')}}</button>
                            <h4 class="card-title">{{trans('general.filter')}}</h4>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">{{trans('project.keyword')}}</label>
                                        <input class="form-control" name="keyword" v-model="filterProjectForm.keyword">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <switches v-model="filterProjectForm.status" theme="bootstrap" color="success"></switches> {{trans('project.show_enabled')}}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <date-range-picker :start-date.sync="filterProjectForm.start_date" :end-date.sync="filterProjectForm.end_date" :label="trans('general.date_between')"></date-range-picker>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">{{trans('general.sort_by')}}</label>
                                        <select name="order" class="form-control" v-model="filterProjectForm.sort_by">
                                            <option value="title">{{trans('project.title')}}</option>
                                            <option value="created_at">{{trans('project.domain')}}</option>
                                            <option value="status">{{trans('project.status')}}</option>
                                            <option value="description">{{trans('project.description')}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">{{trans('general.order')}}</label>
                                        <select name="order" class="form-control" v-model="filterProjectForm.order">
                                            <option value="asc">{{trans('general.ascending')}}</option>
                                            <option value="desc">{{trans('general.descending')}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-info btn-sm pull-right" v-if="!showFilterPanel" @click="showFilterPanel = !showFilterPanel"><i class="fa fa-filter"></i> {{trans('general.filter')}}</button>
                        <h4 class="card-title">{{trans('project.project_list')}}</h4>
                        <h6 class="card-subtitle" v-if="projects">{{trans('general.total_result_found',{'count' : projects.total})}}</h6>
                        <h6 class="card-subtitle" v-else>{{trans('general.no_result_found')}}</h6>
                        <div class="table-responsive">
                            <table class="table" v-if="projects.total">
                                <thead>
                                    <tr>
                                        <th>{{trans('project.title')}}</th>
                                        <th>{{trans('project.domain')}}</th>
                                        <th>{{trans('project.status')}}</th>
                                        <th>{{trans('project.description')}}</th>
                                        <th class="table-option">{{trans('general.action')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="project in projects.data">
                                        <td v-text="project.title"></td>
                                        <td v-text="project.domain"></td>
                                        <td v-html="getStatus(project)"></td>
                                        <td v-text="project.description"></td>
                                        <td class="table-option">
                                            <div class="btn-group">
                                                <button class="btn btn-secondary btn-sm" v-tooltip="project.status ? trans('project.disable') : trans('project.enable')" @click.prevent="toggleStatus(project)">
                                                    <i :class="['fa', (project.status ?  'fa-times' : 'fa-check')]"></i>
                                                </button>
                                                <button class="btn btn-info btn-sm" v-tooltip="trans('project.edit_project')" @click.prevent="editProject(project)"><i class="fa fa-pencil"></i></button>
                                                <button class="btn btn-danger btn-sm" :key="project.id" v-confirm="{ok: confirmDelete(project)}" v-tooltip="trans('project.delete_project')"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-record :page-length.sync="filterProjectForm.page_length" :records="projects" @updateRecords="getProjects"></pagination-record>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import projectForm from './form'
    import switches from 'vue-switches'
    import datepicker from 'vuejs-datepicker'
    import dateRangePicker from '../../components/date-range-picker'

    export default {
        components : { projectForm,switches,datepicker,dateRangePicker },
        data() {
            return {
                projects: {
                    total: 0,
                    data: []
                },
                filterProjectForm: {
                    keyword: '',
                    status: false,
                    start_date: '',
                    end_date: '',
                    sort_by : 'created_at',
                    order: 'desc',
                    page_length: helper.getConfig('page_length')
                },
                showFilterPanel: false
            };
        },
        mounted(){
            if(!helper.hasPermission('access-project')){
                helper.notAccessibleMsg();
                this.$router.push('/home');
            }

            if(!helper.featureAvailable('project')){
                helper.featureNotAvailableMsg();
                this.$router.push('/home');
            }

            this.getProjects();
        },
        methods: {
            hasPermission(permission){
                return helper.hasPermission(permission);
            },
            getProjects(page){
                if (typeof page === 'undefined') {
                    page = 1;
                }
                let url = helper.getFilterURL(this.filterProjectForm);
                axios.get('/api/project?page=' + page + url)
                    .then(response => response.data)
                    .then(response => this.projects = response)
                    .catch(error => {
                        helper.showDataErrorMsg(error);
                    });
            },
            editProject(project){
                this.$router.push('/project/'+project.id+'/edit');
            },
            confirmDelete(project){
                return dialog => this.deleteProject(project);
            },
            deleteProject(project){
                axios.delete('/api/project/'+project.id)
                    .then(response => response.data)
                    .then(response => {
                        toastr.success(response.message);
                        this.getProjects();
                    }).catch(error => {
                        helper.showDataErrorMsg(error);
                    });
            },
            getStatus(project){
                return project.status ? ('<span class="label label-success">'+i18n.project.enabled+'</span>') : ('<span class="label label-danger">'+i18n.project.disable+'</span>') ;
            },
            toggleStatus(project){
                axios.post('/api/project/'+project.id+'/status')
                    .then(response => response.data)
                    .then(response => {
                        this.getProjects();
                        toastr.success(response.message);
                    })
                    .catch(error => {
                        helper.showDataErrorMsg();
                    });
            }
        },
        filters: {
        },
        watch: {
            filterProjectForm: {
                handler(val){
                    this.getProjects();
                },
                deep: true
            }
        }
    }
</script>
