<template>
	<aside class="left-sidebar">
        <div class="scroll-sidebar">
            <div class="user-profile">
                <div class="profile-img"> <img :src="getAuthUser('avatar')" alt="user" /> </div>
                <div class="profile-balance">{{trans('user.my_balance')}} {{getAuthUser('balance')}} $</div>
            </div>
            <nav class="sidebar-nav m-t-20">
                <div class="text-center" v-if="getConfig('maintenance_mode')"><span class="badge badge-danger m-b-10">{{trans('configuration.under_maintenance')}}</span></div>
                <div class="text-center" v-if="!getConfig('mode')"><span class="badge badge-danger m-b-10">{{trans('configuration.test_mode')}}</span></div>
                <ul id="sidebarnav">
                    <li><router-link to="/home" exact><i class="fa fa-home fa-fw"></i> <span class="hide-menu">{{trans('general.home')}}</span></router-link></li>

                    <li v-if="hasPermission('access-deposits') && getConfig('show_deposits_menu')"><router-link to="/deposits" exact><i class="fa fa-credit-card fa-fw"></i> <span class="hide-menu">{{trans('deposit.deposits')}}</span></router-link></li>

                    <li v-if="hasPermission('access-deposit') && getConfig('show_deposit_menu')"><router-link to="/deposit" exact><i class="fa fa-money fa-fw"></i> <span class="hide-menu">{{trans('deposit.make_deposit')}}</span></router-link></li>
                    <li v-if="hasPermission('list-user') && getConfig('show_user_menu')"><router-link to="/user" exact><i class="fa fa-users fa-fw"></i> <span class="hide-menu">{{trans('user.user')}}</span></router-link></li>
                    <li v-if="hasPermission('access-project') && getConfig('show_project_menu')"><router-link to="/project" exact><i class="fa fa-briefcase fa-fw"></i> <span class="hide-menu">{{trans('project.project')}}</span></router-link></li>
                    <li v-if="hasPermission('access-rule') && getConfig('show_rule_menu')"><router-link to="/rule" exact><i class="fa fa-minus-circle fa-fw"></i> <span class="hide-menu">{{trans('rule.filtering_rules')}}</span></router-link></li>
                    <li v-if="hasPermission('access-individual-rule') && getConfig('show_individual_rule_menu')"><router-link to="/individual-rule" exact><i class="fa fa-lock fa-fw"></i> <span class="hide-menu">{{trans('individual_rule.individual_rule')}}</span></router-link></li>
                    <li v-if="hasPermission('access-todo') && getConfig('show_todo_menu')"><router-link to="/todo" exact><i class="fa fa-check-circle-o fa-fw"></i> <span class="hide-menu">{{trans('todo.todo')}}</span></router-link></li>
                    <li v-if="hasPermission('access-message') && getConfig('show_message_menu')"><router-link to="/message" exact><i class="fa fa-envelope-open-o fa-fw"></i> <span class="hide-menu">{{trans('message.message')}}</span></router-link></li>
                    <li v-if="hasPermission('project-log') && getConfig('show_project_log_menu')"><router-link to="/project-log" exact><i class="fa fa-bar-chart fa-fw"></i> <span class="hide-menu">{{trans('project_log.analytics')}}</span></router-link></li>
                    <li v-if="hasPermission('access-configuration') && getConfig('show_configuration_menu')"><router-link to="/configuration" exact><i class="fa fa-cogs fa-fw"></i> <span class="hide-menu">{{trans('configuration.configuration')}}</span></router-link></li>
                    <li v-if="hasPermission('access-configuration') && getConfig('show_backup_menu')"><router-link to="/backup" exact><i class="fa fa-database fa-fw"></i> <span class="hide-menu">{{trans('backup.backup')}}</span></router-link></li>
                    <li v-if="hasPermission('access-configuration') && getConfig('show_email_template_menu')"><router-link to="/email-template" exact><i class="fa fa-envelope-o fa-fw"></i> <span class="hide-menu">{{trans('template.email_template')}}</span></router-link></li>
                    <li v-if="hasPermission('access-configuration') && getConfig('show_email_log_menu')"><router-link to="/email-log" exact><i class="fa fa-envelope fa-fw"></i> <span class="hide-menu">{{trans('mail.email_log')}}</span></router-link></li>
                    <li v-if="hasPermission('access-configuration') && getConfig('show_activity_log_menu')"><router-link to="/activity-log" exact><i class="fa fa-bars fa-fw"></i> <span class="hide-menu">{{trans('activity.activity_log')}}</span></router-link></li>
                </ul>
            </nav>
        </div>
        <div class="sidebar-footer">
            <router-link v-if="hasPermission('access-configuration')" to="/configuration" class="link" v-tooltip="trans('configuration.configuration')"><i class="fa fa-cogs"></i></router-link>
            <router-link to="/profile" class="link" v-tooltip="trans('user.profile')"><i class="fa fa-user"></i></router-link>
            <a href="#" class="link" v-tooltip="trans('auth.logout')" @click.prevent="logout"><i class="fa fa-power-off"></i></a>
        </div>
    </aside>
</template>

<script>
    export default {
        mounted() {
        },
        methods : {
            logout(){
                helper.logout().then(() => {
                    this.$store.dispatch('resetAuthUserDetail');
                    this.$router.push('/login');
                })
            },
            getAuthUser(name){
                return helper.getAuthUser(name);
            },
            hasPermission(permission){
                return helper.hasPermission(permission);
            },
            getConfig(config){
                return helper.getConfig(config);
            }
        },
        computed: {
        }
    }
</script>
