<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">{{trans('configuration.configuration')}}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">{{trans('general.home')}}</router-link></li>
                    <li class="breadcrumb-item active">{{trans('configuration.configuration')}}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <configuration-sidebar menu="basic"></configuration-sidebar>
                            <div class="col-10 col-lg-10 col-md-10">
                                <show-tip module="configuration" tip="tip_basic_configuration"></show-tip>
                                <form @submit.prevent="submit" @keydown="configForm.errors.clear($event.target.name)">
                                    <h4 class="card-title">{{trans('general.basic')}}</h4>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="">{{trans('configuration.company_name')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.company_name" name="company_name" :placeholder="trans('configuration.company_name')">
                                                <span class="help has-error" v-if="configForm.errors.has('company_name')" v-text="configForm.errors.get('company_name')"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="">{{trans('configuration.contact_person')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.contact_person" name="contact_person" :placeholder="trans('configuration.contact_person')">
                                                <span class="help has-error" v-if="configForm.errors.has('contact_person')" v-text="configForm.errors.get('contact_person')"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="card-title">{{trans('configuration.contact')}}</h4>
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="">{{trans('configuration.address_line_1')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.address_line_1" name="address_line_1" :placeholder="trans('configuration.address_line_1')">
                                                <span class="help has-error" v-if="configForm.errors.has('address_line_1')" v-text="configForm.errors.get('address_line_1')"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="">{{trans('configuration.address_line_2')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.address_line_2" name="address_line_2" :placeholder="trans('configuration.address_line_2')">
                                                <span class="help has-error" v-if="configForm.errors.has('address_line_2')" v-text="configForm.errors.get('address_line_2')"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="">{{trans('configuration.city')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.city" name="city" :placeholder="trans('configuration.city')">
                                                <span class="help has-error" v-if="configForm.errors.has('city')" v-text="configForm.errors.get('city')"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="">{{trans('configuration.state')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.state" name="state" :placeholder="trans('configuration.state')">
                                                <span class="help has-error" v-if="configForm.errors.has('state')" v-text="configForm.errors.get('state')"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="">{{trans('configuration.zipcode')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.zipcode" name="zipcode" :placeholder="trans('configuration.zipcode')">
                                                <span class="help has-error" v-if="configForm.errors.has('zipcode')" v-text="configForm.errors.get('zipcode')"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="">{{trans('configuration.country')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.country" name="country" :placeholder="trans('configuration.country')">
                                                <span class="help has-error" v-if="configForm.errors.has('country')" v-text="configForm.errors.get('country')"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="">{{trans('configuration.phone')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.phone" name="phone" :placeholder="trans('configuration.phone')">
                                                <span class="help has-error" v-if="configForm.errors.has('phone')" v-text="configForm.errors.get('phone')"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="">{{trans('configuration.fax')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.fax" name="fax" :placeholder="trans('configuration.fax')">
                                                <span class="help has-error" v-if="configForm.errors.has('fax')" v-text="configForm.errors.get('fax')"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="">{{trans('configuration.email')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.email" name="email" :placeholder="trans('configuration.email')">
                                                <span class="help has-error" v-if="configForm.errors.has('email')" v-text="configForm.errors.get('email')"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="">{{trans('configuration.website')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.website" name="website" :placeholder="trans('configuration.website')">
                                                <span class="help has-error" v-if="configForm.errors.has('website')" v-text="configForm.errors.get('website')"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info waves-effect waves-light m-t-10 pull-right">{{trans('general.save')}}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import configurationSidebar from '../system-config-sidebar'
    import vSelect from 'vue-multiselect'
    import datepicker from 'vuejs-datepicker'

    export default {
        components : { configurationSidebar,vSelect,datepicker },
        data() {
            return {
                configForm: new Form({
                    company_name : '',
                    contact_person: '',
                    address_line_1: '',
                    address_line_2: '',
                    city: '',
                    state: '',
                    zipcode: '',
                    country: '',
                    phone: '',
                    fax: '',
                    email: '',
                    website: '',
                    config_type: ''
                }, false),
            };
        },
        mounted(){
            if(!helper.hasPermission('access-configuration')){
                helper.notAccessibleMsg();
                this.$router.push('/home');
            }
            axios.get('/api/configuration')
                .then(response => response.data)
                .then(response => {
                    this.configForm = helper.formAssign(this.configForm, response);
                }).catch(error => {
                    helper.showDataErrorMsg(error);
                });
        },
        methods: {
            submit(){
                this.configForm.config_type = 'basic';
                this.configForm.post('/api/configuration')
                    .then(response => {
                        this.$store.dispatch('setConfig',this.configForm);
                        toastr.success(response.message);
                    }).catch(error => {
                        helper.showErrorMsg(error);
                    });
            }
        }
    }
</script>
