<template>
    <div>
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">{{trans('configuration.configuration')}}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="/home">{{trans('general.home')}}</router-link></li>
                    <li class="breadcrumb-item"><router-link to="/configuration/basic">{{trans('configuration.configuration')}}</router-link></li>
                    <li class="breadcrumb-item active">{{trans('mail.mail')}}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <configuration-sidebar menu="mail"></configuration-sidebar>
                            <div class="col-10 col-lg-10 col-md-10">
                                <show-tip module="mail" tip="tip_mail_configuration"></show-tip>
                                <form @submit.prevent="submit" @keydown="configForm.errors.clear($event.target.name)">
                                    <h4 class="card-title">{{trans('mail.mail')}}</h4>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="">{{trans('mail.driver')}}</label>
                                                <select v-model="configForm.driver" class="custom-select col-12">
                                                  <option v-for="option in mail_drivers" v-bind:value="option.value">
                                                    {{ option.text }}
                                                  </option>
                                                </select>
                                                <span class="help has-error" v-if="configForm.errors.has('driver')" v-text="configForm.errors.get('driver')"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="">{{trans('mail.from_name')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.from_name" name="from_name" :placeholder="trans('mail.from_name')">
                                                <span class="help has-error" v-if="configForm.errors.has('from_name')" v-text="configForm.errors.get('from_name')"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="">{{trans('mail.from_address')}}</label>
                                                <input class="form-control" type="text" value="" v-model="configForm.from_address" name="from_address" :placeholder="trans('mail.from_address')">
                                                <span class="help has-error" v-if="configForm.errors.has('from_address')" v-text="configForm.errors.get('from_address')"></span>
                                            </div>
                                            <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">{{trans('general.save')}}</button>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div v-if="configForm.driver == 'mailgun'">
                                                <div class="form-group">
                                                    <label for="">{{trans('mail.domain')}}</label>
                                                    <input class="form-control" type="text" value="" v-model="configForm.mailgun_domain" name="mailgun_domain" :placeholder="trans('mail.domain')">
                                                    <span class="help has-error" v-if="configForm.errors.has('mailgun_domain')" v-text="configForm.errors.get('mailgun_domain')"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">{{trans('mail.secret')}}</label>
                                                    <input class="form-control" type="text" value="" v-model="configForm.mailgun_secret" name="mailgun_secret" :placeholder="trans('mail.secret')">
                                                    <span class="help has-error" v-if="configForm.errors.has('mailgun_secret')" v-text="configForm.errors.get('mailgun_secret')"></span>
                                                </div>
                                            </div>
                                            <div v-if="configForm.driver == 'mandrill'">
                                                <div class="form-group">
                                                    <label for="">{{trans('mail.secret')}}</label>
                                                    <input class="form-control" type="text" value="" v-model="configForm.mandrill_secret" name="mandrill_secret" :placeholder="trans('mail.secret')">
                                                    <span class="help has-error" v-if="configForm.errors.has('mandrill_secret')" v-text="configForm.errors.get('mandrill_secret')"></span>
                                                </div>
                                            </div>
                                            <div v-if="configForm.driver == 'smtp'">
                                                <div class="form-group">
                                                    <label for="">{{trans('mail.host')}}</label>
                                                    <input class="form-control" type="text" value="" v-model="configForm.smtp_host" name="smtp_host" :placeholder="trans('mail.host')">
                                                    <span class="help has-error" v-if="configForm.errors.has('smtp_host')" v-text="configForm.errors.get('smtp_host')"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">{{trans('mail.port')}}</label>
                                                    <input class="form-control" type="text" value="" v-model="configForm.smtp_port" name="smtp_port" :placeholder="trans('mail.port')">
                                                    <span class="help has-error" v-if="configForm.errors.has('smtp_port')" v-text="configForm.errors.get('smtp_port')"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">{{trans('mail.username')}}</label>
                                                    <input class="form-control" type="text" value="" v-model="configForm.smtp_username" name="smtp_username" :placeholder="trans('mail.username')">
                                                    <span class="help has-error" v-if="configForm.errors.has('smtp_username')" v-text="configForm.errors.get('smtp_username')"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">{{trans('mail.password')}}</label>
                                                    <input class="form-control" type="text" value="" v-model="configForm.smtp_password" name="smtp_password" :placeholder="trans('mail.password')">
                                                    <span class="help has-error" v-if="configForm.errors.has('smtp_password')" v-text="configForm.errors.get('smtp_password')"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">{{trans('mail.encryption')}} <show-tip type="field" module="mail" tip="tip_encryption"></show-tip> </label>
                                                    <input class="form-control" type="text" value="" v-model="configForm.smtp_encryption" name="smtp_encryption" :placeholder="trans('mail.encryption')">
                                                    <span class="help has-error" v-if="configForm.errors.has('smtp_encryption')" v-text="configForm.errors.get('smtp_encryption')"></span>
                                                </div>
                                            </div>
                                            <div v-if="configForm.driver == 'mailgun'">
                                                <div class="form-group">
                                                    <label for="">{{trans('mail.host')}}</label>
                                                    <input class="form-control" type="text" value="" v-model="configForm.mailgun_host" name="mailgun_host" :placeholder="trans('mail.host')">
                                                    <span class="help has-error" v-if="configForm.errors.has('mailgun_host')" v-text="configForm.errors.get('mailgun_host')"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">{{trans('mail.port')}}</label>
                                                    <input class="form-control" type="text" value="" v-model="configForm.mailgun_port" name="mailgun_port" :placeholder="trans('mail.port')">
                                                    <span class="help has-error" v-if="configForm.errors.has('mailgun_port')" v-text="configForm.errors.get('mailgun_port')"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">{{trans('mail.username')}}</label>
                                                    <input class="form-control" type="text" value="" v-model="configForm.mailgun_username" name="mailgun_username" :placeholder="trans('mail.username')">
                                                    <span class="help has-error" v-if="configForm.errors.has('mailgun_username')" v-text="configForm.errors.get('mailgun_username')"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">{{trans('mail.password')}}</label>
                                                    <input class="form-control" type="text" value="" v-model="configForm.mailgun_password" name="mailgun_password" :placeholder="trans('mail.password')">
                                                    <span class="help has-error" v-if="configForm.errors.has('mailgun_password')" v-text="configForm.errors.get('mailgun_password')"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">{{trans('mail.encryption')}} <show-tip type="field" module="mail" tip="tip_encryption"></show-tip> </label>
                                                    <input class="form-control" type="text" value="" v-model="configForm.mailgun_encryption" name="mailgun_encryption" :placeholder="trans('mail.encryption')">
                                                    <span class="help has-error" v-if="configForm.errors.has('mailgun_encryption')" v-text="configForm.errors.get('mailgun_encryption')"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import configurationSidebar from '../system-config-sidebar'
    import vSelect from 'vue-multiselect'

    export default {
        components : { configurationSidebar,vSelect },
        data() {
            return {
                configForm: new Form({
                    driver : '',
                    from_name: '',
                    from_address: '',
                    smtp_host: '',
                    smtp_port: '',
                    smtp_username: '',
                    smtp_password: '',
                    smtp_encryption: '',
                    mailgun_host: '',
                    mailgun_port: '',
                    mailgun_username: '',
                    mailgun_password: '',
                    mailgun_encryption: '',
                    mailgun_domain: '',
                    mailgun_secret: '',
                    mandrill_secret: '',
                    config_type: ''
                }, false),
                mail_drivers: []
            };
        },
        mounted(){
            if(!helper.hasPermission('access-configuration')){
                helper.notAccessibleMsg();
                this.$router.push('/home');
            }
            axios.get('/api/configuration/variable?type=mail')
                .then(response => response.data)
                .then(response => {
                    this.mail_drivers = response.mail_drivers;
                })
                .catch(error => {
                    helper.showDataErrorMsg(error);
                });
            axios.get('/api/configuration')
                .then(response => response.data)
                .then(response => {
                    this.configForm = helper.formAssign(this.configForm, response);
                }).catch(error => {
                    helper.showDataErrorMsg(error);
                });
        },
        methods: {
            submit(){
                this.configForm.config_type = 'mail';
                this.configForm.post('/api/configuration')
                    .then(response => {
                        this.$store.dispatch('setConfig',this.configForm);
                        toastr.success(response.message);
                    }).catch(error => {
                        helper.showErrorMsg(error);
                    });
            }
        }
    }
</script>
